div[class=projectWrapper] {
    font-family: sans-serif;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "nav nav"
                         "box box"
                         "box box";
    grid-template-rows: 20% 40% 40%;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;

    div[class=projectNav] {
        grid-area: nav;

    }
    div[class=projectBox] {
        grid-area: box;
        display: flex;
        flex-wrap: wrap;
        
    }
}