div[class=experience] {
    grid-area: xp;
    font-family: sans-serif;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "nav XP"
                         ;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;

    nav {
        grid-area: nav;
        background-color: gray;
    }

    section {
        grid-area: XP; 
    }
}